<form>
  <p>
    <mat-form-field class="example-full-width">
      <mat-label>Primary Contact Name</mat-label>
      <textarea matInput></textarea>
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-label>Primary Contact Email</mat-label>
      <textarea matInput></textarea>
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-label>Primary Contact Phone</mat-label>
      <textarea matInput></textarea>
    </mat-form-field>
  </p>
  <section class="example-section">
    <mat-checkbox
      class="example-margin"
      [(ngModel)]="checked"
      [ngModelOptions]="{ standalone: true }"
    >
      Same as Primary</mat-checkbox
    >
  </section>
  <p>
    <mat-form-field class="example-full-width">
      <mat-label>Nurse Name</mat-label>
      <textarea matInput></textarea>
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-label>Nurse Email</mat-label>
      <textarea matInput></textarea>
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-label>Nurse Phone</mat-label>
      <textarea matInput></textarea>
    </mat-form-field>
  </p>
</form>
